# Range

#### The difference between the smallest and largest values
#### The bigger the range the more spread out is the date

### Range = Max - Min
### IQR = Q3 - Q1

# Varience

In [17]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv("variance.csv")
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [8]:
 mean = data["Overall Marks"].mean()

In [10]:
difference = data["Overall Marks"] - mean

In [11]:
squared_difference = difference ** 2

In [13]:
varience = squared_difference.mean()

In [14]:
print(varience)

919170.8424000001

In [15]:
var_data = data["Overall Marks"].var(ddof = 0)

In [16]:
print(var_data)

919170.8424000001

In [18]:
a = np.array([7,6,8,4,2,7,6,7,6,5])

In [19]:
v = a.var(ddof = 0)

In [20]:
print(v)

2.7600000000000002

# Standard Daviation

In [21]:
print(mean)

164.24

In [31]:
standard_daviation = varience ** (1/2)
print(standard_daviation)

958.7339789534948

In [32]:
print(var_data)

919170.8424000001

In [33]:
std = data["Overall Marks"].std(ddof = 0)

In [34]:
print (std)

958.7339789534948