## Outliers are nothing but errors in the data values which effects the mean largely....
### Typos, Measurement errors, Intentional error, legit outliers, etc,.

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('Median.csv')

In [7]:
df.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [10]:
median_data = df['Overall Marks'].median()

In [11]:
print(median_data)

77.0

In [16]:
Q1 = df['Overall Marks'].quantile(.25)
Q2 = df['Overall Marks'].quantile(.5)
Q3 = df['Overall Marks'].quantile(.75)
Q4 = df['Overall Marks'].quantile(1)

In [17]:
print("1st Quantile :",Q1)
print("2nd Quantile :",Q2)
print("3rd Quantile :",Q3)
print("4th Quantile :",Q4)

1st Quantile : 57.25
2nd Quantile : 77.0
3rd Quantile : 87.25
4th Quantile : 9700.0